/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:100%;
}

.wrapper {
  width: 100%;
  height: auto;
}

.hero-section, footer {
  background-color: #1F2937;
}

.hero-section {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 32px;
    height:100%;
}

.section-one, .section-two, .section-three, .section-four {
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;         
  justify-content: space-between; 
  width: 100%;       
  margin-top: 15px;                            
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  width: auto;
  align-items: center;
  font-weight: 900;
}

.header-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: auto;
}

.header-links a {
  text-decoration: none;
  color:#E5E7EB;
  font-size: 18px;
}

.header-links a:hover {
  opacity: 75%;
}

.section-one {
  display: flex;
  padding: 32px 0;
  gap: 48px;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section-one .image {
  padding: 25px;
  max-width: 50%;
}

.section-one img {
  width: 400px;
}

.section-one .text {
  padding: 25px;
  max-width: 50%;
}

.section-one h1 {
  font-size:48px;
  font-weight: 900;
  color: #F9FAF8;
  text-wrap: wrap;
  margin-bottom: 10px;
}

.section-one p {
  font-size: 18px;
  color: #E5E7EB;
  line-height: 1.5rem;
  margin-bottom:10px;
}

.section-one button {
  color: #F9FAF8;
  background-color: #3882f6;
  font-weight: 800;
  width: 100px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.section-one button:hover {
  background-color: #0a66a1;
}

.section-two {
  width:100%;
}

.section-two h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

.image-line {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap:50px;
}

.image-group {
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.image-group img {
  height:175px;
  width:175px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.image-group p {
  text-align: center;
  justify-content: center;
  align-items: center;
  color:#506075;
  max-width: 175px;
  padding: 10px;
}

.section-three, .section-four {
  width:100%;
  display:flex;
  padding:32px 0;
  gap: 48px;
}

.section-three {
  display:flex;
  flex-direction: column;
  color:#1F2937;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.section-three q {
  font-size: 36px;
  font-style: italic;
  padding:25px;
  opacity: 75%;
  font-family: Calibri;
  width: 100%;
}

.background-three {
  background-color: #E5E7EB;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-three .quote-author {
  font-weight:  900;
  width:100%;
  text-align: right;
 }

 .card {
  height: 125px;
  max-width: 800px;
  width:100%;
  background-color: #3882f6;
  border-radius: 8px;
  padding:32px;
  display:flex;
  flex-direction: row;
  align-items:  center;
  justify-content: space-around;
  margin: 0 auto;
 }

 .card .text-container {
  width:100%;
  max-width: 600px;
  padding:32px;
  justify-content: center;
  align-items: center;
  text-align: left;
  color:#E5E7EB;
 }
 
 .card h3 {
  font-weight: 900;
 }

 .card .button-container {
  width: 100%;
  max-width: 200px;
  padding:32px;
 }

 .card button {
  color: #F9FAF8;
  background-color: #3882f6;
  font-weight: 800;
  width: 125px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #F9FAF8;
 }

 footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #F9FAF8;
  width: 100%;
  height: auto;
  padding:25px;
 }