/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:100%;
}

.wrapper {
  width: 100%;
  height: auto;
}

.hero-section, footer {
  background-color: #1F2937;
}

.hero-section {
  display: flex;
  width: 100%;
  flex-direction: column;
}

header {
  display:flex;
  width: 100%;
  margin-bottom:20px;
  margin-top:15px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  width: 33%;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 900;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
  width: 77%;
  margin-right:25px;
}

.header-links a {
  text-decoration: none;
  color:#E5E7EB;
  font-size: 18px;
}

.header-links a:hover {
  opacity: 75%;
}

.section-one {
  display: flex;
  padding: 15px;
  margin: 0 auto;
  text-align: left;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}

.section-one .image {
  padding: 25px;
  max-width: 60%;
}

.section-one img {
  max-height: 250px;
  width: auto;
}

.section-one .text {
  padding: 25px;
  max-width: 40%;
}

.section-one h1 {
  font-size:48px;
  font-weight: 900;
  color: #F9FAF8;
  text-wrap: wrap;
  margin-bottom: 10px;
}

.section-one p {
  font-size: 18px;
  color: #E5E7EB;
  line-height: 1.5rem;
  margin-bottom:10px;
}

.section-one button {
  color: #F9FAF8;
  background-color: #3882f6;
  font-weight: 800;
  width: 100px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.section-one button:hover {
  background-color: #0a66a1;
}

.section-two h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

.image-line {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.image-line img {
  height:125px;
  width:125px;
}